$error: #fde9e9;
$success: #ebf6e6;
$input-bg: #FFFFFF;
$input-border: #E0E0E0;

body{
    overflow: hidden;
    .gr-form{
        display: table;
        width: 100%;
        .gr-alert{
            display: table;
            width: 100%;
            padding: 0 10px;
            > .alert{
                width: 100%;
                display: table;
                border-radius: 0;
                &.alert-error{
                    border-color: darken($error, 5%);
                    background: desaturate(darken($error, 5%), 25%);
                }
                &.alert-success{
                    border-color: darken($success, 5%);
                    background: desaturate(darken($success, 5%), 25%);
                }
                box-shadow: none;
                > ul li{
                    position: relative;
                    float: left;
                    width: 100%;
                }
            }
        }
        .gr-content{
            display: table;
            width: 100%;
            margin: 0;
            div[class*='col-']{
                padding: 0 10px;
            }
            .input-group{
                width: 100%;
                .input-group-addon,
                .input-group-btn{
                    min-width: 25px;
                    border-radius: 0;
                    border-color: $input-border;
                    background: darken($input-bg,5%);
                }
            }
            .form-control{
                padding: 6px 12px;
                height: 45px;
                border-radius: 0;
                border-color: $input-border;
                border-left-color: darken($input-border, 5%);
                box-shadow: none;
                background: $input-bg;
            }
            .gr-form-list{
                position: relative;
                padding: 0 !important;
                border: solid 1px $input-border;
                background: $input-bg;
                box-sizing: border-box;
                .gr-form-list-item{
                    margin: 0;
                    border-bottom: solid 1px $input-border;
                    &:last-child{
                        border-bottom: none !important;
                    }
                    label{
                        position: relative;
                        width: 100%;
                        padding: 12.5px 10px;
                        padding-left: 30px;
                    }
                }
                &~.form-control-feedback{
                    right: 0 !important;
                    text-align: center;
                    &.form-control-feedback-error{
                        background: $error;
                        border-color: darken($error, 5%);
                    }
                    &.form-control-feedback-success{
                        background: $success;
                        border-color: darken($success, 5%);
                    }
                }
            }
            textarea{
                resize: vertical;
                min-height: 225px;
            }
            .checkbox{
                display: block;
                width: 100%;
                margin: 0;
                border: solid 1px $input-border;
                background-color: $input-bg;
                label{
                    position: relative;
                    width: 100%;
                    padding: 11.5px 10px;
                    padding-left: 30px;
                }
            }
            .view-file-name{
                display: table;
                width: 100%;
                cursor: pointer;
                .view-file-label{
                    max-width: 75%;
                    height: 100%;
                    line-height: 31px;
                    float: left;
                }
                .view-file-size{
                    $opacity: .4;
                    max-width: 25%;
                    height: 100%;
                    line-height: 31px;
                    float: right;
                    text-align: right;
                    -webkit-opacity: $opacity;
                    -moz-opacity: $opacity;
                    -ie-opacity: $opacity;
                    -o-opacity: $opacity;
                    opacity: $opacity;
                }
                ul.view-file-list{
                    display: table;
                    width: 100%;
                    margin: 0;
                    padding: 0;
                    li{
                        display:table;
                        width: 100%;
                        height: 100%;
                        line-height: 31px;
                        list-style: none;
                        &:after{
                            clear: both;
                        }
                    }
                }
            }
            .has-feedback{
                .form-control-icon{
                    position: relative;
                    display: none;
                    .form-control-feedback{
                        position: relative;
                        margin-right: 2.5px;
                        top: 0;
                        right: 0;
                        bottom: 0;
                        left: 0;
                        border-left: solid 1px transparent;
                        &:before{
                            left: 50% !important;
                            margin-left: -5px;
                        }
                    }
                }
                &.has-error{
                    .input-group{
                        .form-control-icon,
                        .input-group-addon{
                            display: table-cell;
                            background: desaturate(darken($error, 5%), 25%);
                            border-color: darken($error, 5%);
                        }
                        .form-control{
                            background: $error;
                            border-color: darken($error, 5%);
                            border-left-color:  darken($error, 7%);
                        }
                    }
                    .checkbox{
                        display: table-cell;
                        background: $error;
                        border-color: darken($error, 5%);
                    }
                    .gr-form-list{
                        display: table-cell;
                        background: $error;
                        border-color: darken($error, 5%);
                        .gr-form-list-item{
                            border-color: darken($error, 5%);
                        }
                    }
                }
                &.has-success{
                    .input-group{
                        .form-control-icon,
                        .input-group-addon{
                            display: table-cell;
                            background: desaturate(darken($success, 5%), 25%);
                            border-color: darken($success, 10%);
                        }
                        .form-control{
                            background: $success;
                            border-color: darken($success, 10%);
                            border-left-color:  darken($success, 12%);
                        }
                    }
                    .checkbox{
                        display: table-cell;
                        background: $success;
                        border-color: darken($success, 5%);
                    }
                    .gr-form-list{
                        display: table-cell;
                        background: $success;
                        border-color: darken($success, 5%);
                        .gr-form-list-item{
                            border-color: darken($success, 5%);
                        }
                    }
                }
            }
        }
    }
}
