body {
  overflow: hidden; }
  body .gr-form {
    display: table;
    width: 100%; }
    body .gr-form .gr-alert {
      display: table;
      width: 100%;
      padding: 0 10px; }
      body .gr-form .gr-alert > .alert {
        width: 100%;
        display: table;
        border-radius: 0;
        box-shadow: none; }
        body .gr-form .gr-alert > .alert.alert-error {
          border-color: #fbd2d2;
          background: #f5d8d8; }
        body .gr-form .gr-alert > .alert.alert-success {
          border-color: #dcefd3;
          background: #dfe8db; }
        body .gr-form .gr-alert > .alert > ul li {
          position: relative;
          float: left;
          width: 100%; }
    body .gr-form .gr-content {
      display: table;
      width: 100%;
      margin: 0; }
      body .gr-form .gr-content div[class*='col-'] {
        padding: 0 10px; }
      body .gr-form .gr-content .input-group {
        width: 100%; }
        body .gr-form .gr-content .input-group .input-group-addon,
        body .gr-form .gr-content .input-group .input-group-btn {
          min-width: 25px;
          border-radius: 0;
          border-color: #e0e0e0;
          background: #f2f2f2; }
      body .gr-form .gr-content .form-control {
        padding: 6px 12px;
        height: 45px;
        border-radius: 0;
        border-color: #e0e0e0;
        border-left-color: lightgray;
        box-shadow: none;
        background: white; }
      body .gr-form .gr-content .gr-form-list {
        position: relative;
        padding: 0 !important;
        border: solid 1px #e0e0e0;
        background: white;
        box-sizing: border-box; }
        body .gr-form .gr-content .gr-form-list .gr-form-list-item {
          margin: 0;
          border-bottom: solid 1px #e0e0e0; }
          body .gr-form .gr-content .gr-form-list .gr-form-list-item:last-child {
            border-bottom: none !important; }
          body .gr-form .gr-content .gr-form-list .gr-form-list-item label {
            position: relative;
            width: 100%;
            padding: 12.5px 10px;
            padding-left: 30px; }
        body .gr-form .gr-content .gr-form-list ~ .form-control-feedback {
          right: 0 !important;
          text-align: center; }
          body .gr-form .gr-content .gr-form-list ~ .form-control-feedback.form-control-feedback-error {
            background: #fde9e9;
            border-color: #fbd2d2; }
          body .gr-form .gr-content .gr-form-list ~ .form-control-feedback.form-control-feedback-success {
            background: #ebf6e6;
            border-color: #dcefd3; }
      body .gr-form .gr-content textarea {
        resize: vertical;
        min-height: 225px; }
      body .gr-form .gr-content .checkbox {
        display: block;
        width: 100%;
        margin: 0;
        border: solid 1px #e0e0e0;
        background-color: white; }
        body .gr-form .gr-content .checkbox label {
          position: relative;
          width: 100%;
          padding: 11.5px 10px;
          padding-left: 30px; }
      body .gr-form .gr-content .view-file-name {
        display: table;
        width: 100%;
        cursor: pointer; }
        body .gr-form .gr-content .view-file-name .view-file-label {
          max-width: 75%;
          height: 100%;
          line-height: 31px;
          float: left; }
        body .gr-form .gr-content .view-file-name .view-file-size {
          max-width: 25%;
          height: 100%;
          line-height: 31px;
          float: right;
          text-align: right;
          -webkit-opacity: 0.4;
          -moz-opacity: 0.4;
          -ie-opacity: 0.4;
          -o-opacity: 0.4;
          opacity: 0.4; }
        body .gr-form .gr-content .view-file-name ul.view-file-list {
          display: table;
          width: 100%;
          margin: 0;
          padding: 0; }
          body .gr-form .gr-content .view-file-name ul.view-file-list li {
            display: table;
            width: 100%;
            height: 100%;
            line-height: 31px;
            list-style: none; }
            body .gr-form .gr-content .view-file-name ul.view-file-list li:after {
              clear: both; }
      body .gr-form .gr-content .has-feedback .form-control-icon {
        position: relative;
        display: none; }
        body .gr-form .gr-content .has-feedback .form-control-icon .form-control-feedback {
          position: relative;
          margin-right: 2.5px;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          border-left: solid 1px transparent; }
          body .gr-form .gr-content .has-feedback .form-control-icon .form-control-feedback:before {
            left: 50% !important;
            margin-left: -5px; }
      body .gr-form .gr-content .has-feedback.has-error .input-group .form-control-icon,
      body .gr-form .gr-content .has-feedback.has-error .input-group .input-group-addon {
        display: table-cell;
        background: #f5d8d8;
        border-color: #fbd2d2; }
      body .gr-form .gr-content .has-feedback.has-error .input-group .form-control {
        background: #fde9e9;
        border-color: #fbd2d2;
        border-left-color: #fac8c8; }
      body .gr-form .gr-content .has-feedback.has-error .checkbox {
        display: table-cell;
        background: #fde9e9;
        border-color: #fbd2d2; }
      body .gr-form .gr-content .has-feedback.has-error .gr-form-list {
        display: table-cell;
        background: #fde9e9;
        border-color: #fbd2d2; }
        body .gr-form .gr-content .has-feedback.has-error .gr-form-list .gr-form-list-item {
          border-color: #fbd2d2; }
      body .gr-form .gr-content .has-feedback.has-success .input-group .form-control-icon,
      body .gr-form .gr-content .has-feedback.has-success .input-group .input-group-addon {
        display: table-cell;
        background: #dfe8db;
        border-color: #cde9c0; }
      body .gr-form .gr-content .has-feedback.has-success .input-group .form-control {
        background: #ebf6e6;
        border-color: #cde9c0;
        border-left-color: #c7e6b9; }
      body .gr-form .gr-content .has-feedback.has-success .checkbox {
        display: table-cell;
        background: #ebf6e6;
        border-color: #dcefd3; }
      body .gr-form .gr-content .has-feedback.has-success .gr-form-list {
        display: table-cell;
        background: #ebf6e6;
        border-color: #dcefd3; }
        body .gr-form .gr-content .has-feedback.has-success .gr-form-list .gr-form-list-item {
          border-color: #dcefd3; }
