<!DOCTYPE html>
<html lang="pt-br" ng-app="mainApp">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="">
    <title>Griffo User Interface</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" />
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" />
    
    <link rel="stylesheet" href="../src/gr-ui.css" />
    
    <link rel="stylesheet" href="css/main.css" />
</head>

<body ng-controller="mainCtrl">
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
                    <span class="sr-only">Mostrar/Ocultar Menu</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">
                    Griffo User Interface
                </a>
            </div>
            <div class="collapse navbar-collapse navbar-right" id="navbar-collapse">
                <ul class="nav navbar-nav">
                    <li ng-class="{'active': hash === 'gr-autofields'}">
                        <a ng-click="goTo('gr-autofields')">
                            gr-autofields
                        </a>
                    </li>
                    <li ng-class="{'active': hash === 'gr-carousel'}">
                        <a ng-click="goTo('gr-carousel')">
                            gr-carousel
                        </a>
                    </li>
                </ul>
            </div>
            <!--/.navbar-collapse -->
        </div>
    </nav>
    <div class="container" ng-include="'view/gr-autofields.html'"></div>
    <hr/>
    <div class="container" ng-include="'view/gr-carousel.html'"></div>
    <hr/>
    <div class="container" ng-include="'view/gr-table.html'"></div>
    <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.11/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.11/angular-sanitize.min.js"></script>

    <script src="lib/ui-bootstrap-custom-build/ui-bootstrap-custom-tpls-0.12.0.min.js"></script>
    
    <script src="../src/gr-translate/js/gr-translate.js"></script>
    <script src="../src/gr-alert/js/gr-alert.js"></script>
    <script src="../src/gr-autofields/js/gr-autofields.js"></script>
    <script src="../src/gr-autoheight/js/gr-autoheight.js"></script>
    <script src="../src/gr-carousel/js/gr-carousel.js"></script>
    <script src="../src/gr-modal/js/gr-modal.js"></script>
    <script src="../src/gr-table/js/gr-table.js"></script>
    
    <script src="js/application.js"></script>
    <script src="js/controllers/mainCtrl.js"></script>
    <script src="js/directives/confirmPassword.js"></script>
</body>

</html>
