$error: #fde9e9;
$success: #ebf6e6;
$input-bg: #FFFFFF;
$input-border: #CCCCCC;
.autofields{
	.has-error{
		.input-group-addon{
			display: table-cell;
			background: desaturate(darken($error, 5%), 25%);
			border-color: darken($error, 10%);
		}
		.checkbox,
		.gr-form-list,
		.form-control{
			background: $error;
			border-color: darken($error, 10%);
			border-left-color:  darken($error, 12%);
			.gr-form-list-item{
				border-color: darken($error, 10%);
			}
			&:focus{
				box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px darken($error, 10%);
			}
		}
	}
	.has-success{
		.input-group-addon{
			display: table-cell;
			background: desaturate(darken($success, 5%), 25%);
			border-color: darken($success, 10%);
		}
		.checkbox,
		.gr-form-list,
		.form-control{
			background: $success;
			border-color: darken($success, 10%);
			border-left-color:  darken($success, 12%);
			.gr-form-list-item{
				border-color: darken($success, 10%);
			}
			&:focus{
				box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px darken($success, 10%);
			}
		}
	}
	.date{
		.input-group{
			.dropdown-menu{
				padding: 5px;
				table{
					thead{
						tr{
							th{
								padding: 2px;
								padding-bottom: 5px;
							}
						}
					}
					tbody{
						tr{
							td{
								padding: 2px;
							}
						}
					}
					&:focus{
						outline: 0;
					}
				}
				li:last-child{
					display: inline-block;
					width: 100%;
					margin-bottom: -5px;
					padding: 5px 0 0 !important;
				}
			}
		}
	}	
}