.gr-table {
  position: relative;
  width: 100%;
  padding: 15px;
  margin: 0; }
  .gr-table .ng-table {
    min-width: 500px;
    display: none;
    margin: 0;
    padding: 0; }
    .gr-table .ng-table thead tr th {
      min-width: 55px;
      text-align: center;
      vertical-align: middle;
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none; }
      .gr-table .ng-table thead tr th.sortable {
        cursor: pointer; }
        .gr-table .ng-table thead tr th.sortable div {
          padding-right: 18px;
          position: relative; }
          .gr-table .ng-table thead tr th.sortable div:after, .gr-table .ng-table thead tr th.sortable div:before {
            content: "";
            border-width: 0 4px 4px;
            border-style: solid;
            border-color: #000 transparent;
            visibility: visible;
            right: 8px;
            top: 50%;
            position: absolute;
            opacity: .3;
            margin-top: -4px; }
          .gr-table .ng-table thead tr th.sortable div:before {
            margin-top: 2px;
            border-bottom: none;
            border-left: 4px solid transparent;
            border-right: 4px solid transparent;
            border-top: 4px solid #000; }
          .gr-table .ng-table thead tr th.sortable div:hover:after, .gr-table .ng-table thead tr th.sortable div:hover:before {
            opacity: 1;
            visibility: visible; }
        .gr-table .ng-table thead tr th.sortable.sort-desc, .gr-table .ng-table thead tr th.sortable.sort-asc {
          background-color: rgba(0, 0, 0, 0.05);
          text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75); }
        .gr-table .ng-table thead tr th.sortable, .gr-table .ng-table thead tr th.sortable.sort-desc div:after, .gr-table .ng-table thead tr th.sortable.sort-asc div:after {
          margin-top: -2px; }
        .gr-table .ng-table thead tr th.sortable.sort-desc div:before, .gr-table .ng-table thead tr th.sortable.sort-asc div:before {
          visibility: hidden; }
        .gr-table .ng-table thead tr th.sortable.sort-asc div:after, .gr-table .ng-table thead tr th.sortable.sort-asc div:hover:after {
          visibility: visible;
          filter: alpha(opacity=60);
          -khtml-opacity: 0.6;
          -moz-opacity: 0.6;
          opacity: 0.6; }
        .gr-table .ng-table thead tr th.sortable.sort-desc div:after {
          border-bottom: none;
          border-left: 4px solid transparent;
          border-right: 4px solid transparent;
          border-top: 4px solid #000;
          visibility: visible;
          -webkit-box-shadow: none;
          -moz-box-shadow: none;
          box-shadow: none;
          filter: alpha(opacity=60);
          -khtml-opacity: 0.6;
          -moz-opacity: 0.6;
          opacity: 0.6; }
      .gr-table .ng-table thead tr th.filter .input-filter {
        margin: 0;
        display: block;
        width: 100%;
        min-height: 30px;
        font-weight: normal;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box; }
    .gr-table .ng-table thead tr + .pagination {
      margin-top: 0; }
    .gr-table .ng-table tbody tr {
      position: relative; }
      .gr-table .ng-table tbody tr[class*='bg-'] td {
        background: none; }
      .gr-table .ng-table tbody tr td {
        min-width: 55px;
        vertical-align: middle; }
        .gr-table .ng-table tbody tr td .btn-table {
          width: 80%; }
        .gr-table .ng-table tbody tr td.col-1 {
          width: 8.33333% !important; }
        .gr-table .ng-table tbody tr td.col-2 {
          width: 16.66667% !important; }
        .gr-table .ng-table tbody tr td.col-3 {
          width: 25% !important; }
        .gr-table .ng-table tbody tr td.col-4 {
          width: 33.33333% !important; }
        .gr-table .ng-table tbody tr td.col-5 {
          width: 41.66667% !important; }
        .gr-table .ng-table tbody tr td.col-6 {
          width: 50% !important; }
        .gr-table .ng-table tbody tr td.col-7 {
          width: 58.33333% !important; }
        .gr-table .ng-table tbody tr td.col-8 {
          width: 66.66667% !important; }
        .gr-table .ng-table tbody tr td.col-9 {
          width: 75% !important; }
        .gr-table .ng-table tbody tr td.col-10 {
          width: 83.33333% !important; }
        .gr-table .ng-table tbody tr td.col-11 {
          width: 91.66667% !important; }
        .gr-table .ng-table tbody tr td.col-12 {
          width: 100% !important; }
    .gr-table .ng-table tfoot > tr > td {
      padding: 10px;
      background: #F0F0F0; }
      .gr-table .ng-table tfoot > tr > td .ng-table-pager {
        position: relative;
        display: table;
        width: 100%; }
        .gr-table .ng-table tfoot > tr > td .ng-table-pager .ng-table-pagination {
          position: relative;
          display: table;
          float: none !important;
          margin: 0 auto; }
    .gr-table .ng-table.table-hover > tbody > tr:hover > td,
    .gr-table .ng-table.table-hover > tbody > tr:hover > th {
      background: rgba(0, 0, 0, 0.05); }
    .gr-table .ng-table.table-no-pager tfoot > tr > td {
      padding: 6px; }
      .gr-table .ng-table.table-no-pager tfoot > tr > td .ng-table-pager {
        display: none !important; }

.gr-table-pager {
  display: table; }
  .gr-table-pager .pagination {
    position: relative;
    display: table;
    margin: 0;
    padding: 0;
    overflow: hidden; }
    .gr-table-pager .pagination li {
      display: block;
      float: left; }

/*# sourceMappingURL=gr-table.css.map */
