.gr-affixed {
  position: fixed;
  top: 0;
  z-index: 99999;
}
.gr-alert {
  position: fixed;
  max-width: 100%;
  top: 10px;
  right: 0;
  padding: 0 10px;
  font-size: 14px;
  font-family: "Arial", sans-serif;
  box-shadow: none;
  z-index: 90000;
}
.gr-alert .alert {
  position: relative;
  display: table;
  float: right;
  padding: 5px;
  margin: 0;
  color: #fff;
  box-shadow: none;
}
.gr-alert .alert.alert-success {
  border-color: #52b452;
  background: #5cb85c;
}
.gr-alert .alert.alert-info {
  border-color: #4ebbdb;
  background: #5bc0de;
}
.gr-alert .alert.alert-warning {
  border-color: #efa63f;
  background: #f0ad4e;
}
.gr-alert .alert.alert-danger {
  border-color: #d64743;
  background: #d9534f;
}
.gr-alert .alert .gr-alert-icon {
  position: relative;
  float: left;
  padding: 0 10px;
  margin-left: -5px;
  font-size: 2.25em;
  color: rgba(0,0,0,0.2);
}
.gr-alert .alert .close {
  position: relative;
  float: right;
  display: block;
  line-height: 45px;
  text-shadow: none;
  padding: 0 10px;
  color: rgba(0,0,0,0.2);
  opacity: 1;
  font-size: 1.25em;
  transition: color 0.3s;
}
.gr-alert .alert .close:befor,
.gr-alert .alert .close:after {
  content: " ";
  display: table;
  clear: both;
}
.gr-alert .alert .close:hover {
  opacity: 1;
  color: #fff;
}
.gr-alert .alert > p {
  display: table;
  float: left;
}
.gr-alert .alert > ul {
  display: table;
  float: left;
  padding: 12px 10px 10px;
  margin: 0 !important;
}
.gr-alert .alert > ul li {
  position: relative;
  width: 100%;
  margin-bottom: 5px;
  list-style: none;
}
.gr-alert .alert > ul li:last-child {
  margin-bottom: 0;
}
.gr-form-required-label {
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  border: 1px solid #ccc;
  box-shadow: -4px 0 0 0 #cb1212 !important;
}
.modal .gr-autofields {
  margin: 0 -15px;
}
.modal .gr-autofields .row {
  margin-left: 0;
  margin-right: 0;
  padding-left: 15px;
  padding-right: 15px;
}
.modal .gr-autofields .row ~ [class*="col-"] {
  padding-left: 15px;
  padding-right: 15px;
}
.gr-autofields {
  position: relative;
  display: block;
}
.gr-autofields:before,
.gr-autofields:after {
  display: table;
  content: " ";
}
.gr-autofields:after {
  clear: both;
}
.autofields {
  position: relative;
  display: block;
  margin: 0;
}
.autofields label {
  color: #000;
  font-weight: normal;
}
.autofields .btn {
  border-radius: 0;
}
.autofields .input-group-addon {
  border-radius: 0;
}
.autofields .form-group > .btn,
.autofields .form-group > [class*="col-"] > .btn {
  border-radius: 0;
}
.autofields .form-group >.input-group > .input-group-btn,
.autofields .form-group > [class*="col-"] >.input-group > .input-group-btn,
.autofields .form-group >.input-group > .input-group-addon,
.autofields .form-group > [class*="col-"] >.input-group > .input-group-addon {
  border-radius: 0;
}
.autofields .form-group >.input-group > .btn,
.autofields .form-group > [class*="col-"] >.input-group > .btn {
  border-radius: 0;
}
.autofields .form-group .form-control {
  border-radius: 0;
  box-shadow: none !important;
  -webkit-transition: border-color ease-in-out 0.15s;
  -moz-transition: border-color ease-in-out 0.15s;
  -ie-transition: border-color ease-in-out 0.15s;
  -o-transition: border-color ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s;
}
.autofields .form-group .input-group .form-control {
  box-shadow: none !important;
}
.autofields .form-group.required .form-control {
  box-shadow: -4px 0 0 0 #cb1212 !important;
}
.autofields .form-group.required .input-group {
  box-shadow: -4px 0 0 0 #cb1212 !important;
}
.autofields .form-group.required .input-group .form-control {
  box-shadow: none !important;
}
.autofields .form-group.has-error .input-group-addon {
  display: table-cell;
  background: #f6d8d8;
  border-color: #f9bcbc;
}
.autofields .form-group.has-error .checkbox,
.autofields .form-group.has-error .gr-form-list,
.autofields .form-group.has-error .form-control {
  background: #fde9e9;
  border-color: #f9bcbc;
  border-left-color: #f8b4b4;
  box-shadow: -4px 0 0 0 #cb1212 !important;
}
.autofields .form-group.has-error .checkbox .gr-form-list-item,
.autofields .form-group.has-error .gr-form-list .gr-form-list-item,
.autofields .form-group.has-error .form-control .gr-form-list-item {
  border-color: #f9bcbc;
}
.autofields .form-group.has-error .checkbox:focus,
.autofields .form-group.has-error .gr-form-list:focus,
.autofields .form-group.has-error .form-control:focus {
  border-color: #f16363;
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075), 0 0 6px #f9bcbc;
}
.autofields .form-group.has-error .input-group {
  box-shadow: -4px 0 0 0 #cb1212 !important;
}
.autofields .form-group.has-error .input-group .form-control {
  box-shadow: none !important;
}
.autofields .form-group.has-success .input-group-addon {
  display: table-cell;
  background: #deedd7;
  border-color: #cfe9c3;
}
.autofields .form-group.has-success .checkbox,
.autofields .form-group.has-success .gr-form-list,
.autofields .form-group.has-success .form-control {
  background: #ebf6e6;
  border-color: #cfe9c3;
  border-left-color: #c9e7bc;
  box-shadow: -4px 0 0 0 #467c2d !important;
}
.autofields .form-group.has-success .checkbox .gr-form-list-item,
.autofields .form-group.has-success .gr-form-list .gr-form-list-item,
.autofields .form-group.has-success .form-control .gr-form-list-item {
  border-color: #cfe9c3;
}
.autofields .form-group.has-success .checkbox:focus,
.autofields .form-group.has-success .gr-form-list:focus,
.autofields .form-group.has-success .form-control:focus {
  border-color: #97d07d;
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075), 0 0 6px #cfe9c3;
}
.autofields .form-group.has-success .input-group {
  box-shadow: -4px 0 0 0 #467c2d !important;
}
.autofields .form-group.has-success .input-group .form-control {
  box-shadow: none !important;
}
.autofields .form-control:hover {
  background: #f9f9f9;
}
.autofields .form-control:focus,
.autofields .form-control:active {
  background: #fff;
}
.autofields .checkbox .form-control {
  padding-left: 30px;
}
.autofields .textarea textarea {
  max-width: 100%;
  resize: vertical;
}
.autofields .form-button {
  margin-top: 25px;
}
@media screen and (max-width: 767px) {
  .autofields .form-button.col-xs-12 {
    margin-top: 0;
  }
}
.autofields .form-hr hr {
  margin-top: 10px;
  margin-bottom: 10px;
}
.autofields .form-hr + .form-label label {
  margin-top: 10px;
}
.autofields .form-hr > [class*="col-"].form-label label {
  margin-bottom: 20px;
  color: #000;
  font-weight: bold;
}
.autofields .row {
  margin-bottom: 0;
}
.autofields .row > [class*="col-"] .checkbox {
  margin-bottom: 15px;
  margin-top: 25px;
}
.autofields .row > [class*="col-"] .form-group {
  margin-bottom: 0;
}
.autofields .row > [class*="col-"] [class*="col-"] {
  padding-left: 0;
  padding-right: 0;
}
@media screen and (max-width: 767px) {
  .autofields .row > [class*="col-"] {
    padding: 0;
  }
}
@media screen and (min-width: 768px) {
  .autofields .row > [class*="col-"]:first-child {
    padding-left: 0;
  }
  .autofields .row > [class*="col-"]:last-child {
    padding-right: 0;
  }
}
.autofields .row ~ [class*="col-"] {
  padding-left: 0;
  padding-right: 0;
}
.autofields > .form-group,
.autofields > .row {
  margin: 0;
  margin-top: 15px;
  margin-bottom: 15px;
}
.autofields > .form-group:first-child,
.autofields > .row:first-child {
  margin-top: 0;
}
.autofields > .form-group[class*="col-"] {
  margin-top: 0;
}
.autofields > .form-group[class*="col-"].checkbox {
  margin-bottom: 15px;
  margin-top: 25px;
}
.autofields .date {
  position: relative;
}
.autofields .date .input-group .dropdown-menu {
  padding: 5px;
  border-radius: 0;
}
.autofields .date .input-group .dropdown-menu table thead tr th {
  padding: 2.5px;
  padding-bottom: 5px;
}
.autofields .date .input-group .dropdown-menu table tbody tr td {
  padding: 2px;
}
.autofields .date .input-group .dropdown-menu table:focus {
  outline: 0;
}
.autofields .date .input-group .dropdown-menu li:last-child {
  display: inline-block;
  width: 100%;
  margin-bottom: -5px;
  padding: 5px 2.5px 2.5px !important;
}
.autofields.form-horizontal .checkbox {
  padding: 0;
}
.autofields.form-horizontal .checkbox .control-label {
  text-align: left;
}
.autofields:before,
.autofields:after {
  display: table;
  content: " ";
}
.autofields:after {
  clear: both;
}
@media screen and (max-width: 768px) {
  .autofields .row [class*="col-"] .form-group {
    padding-bottom: 15px;
  }
  .autofields > .form-group {
    margin-top: 0;
  }
  .autofields > .row {
    margin-top: 0;
    margin-bottom: 0;
  }
}
.ui-select-container {
  padding: 0;
  border: none;
  outline: none;
}
.ta-hidden-input {
  width: 1px;
  height: 1px;
  border: none;
  margin: 0;
  padding: 0;
  position: absolute;
  top: -10000px;
  left: -10000px;
  -webkit-opacity: 0;
  -moz-opacity: 0;
  -ie-opacity: 0;
  -o-opacity: 0;
  opacity: 0;
  overflow: hidden;
}
.ta-toolbar {
  margin: -10px -5px 0;
  padding: 5px 0;
}
.ta-toolbar .btn-group {
  margin: 5px;
}
.ta-root {
  position: relative;
  display: block;
  width: 100%;
  padding: 10px;
  background: #f6f6f6;
  border: solid 1px #e9e9e9;
}
.ta-root.focussed .form-control {
  background: #fff;
}
.ta-root.focussed > .ta-scroll-window.form-control {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  -ie-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  -o-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
}
.ta-root .ta-editor.ta-html,
.ta-root .ta-scroll-window.form-control {
  min-height: 300px;
}
height auto {
  max-height: 500px;
  overflow: auto;
  font-family: inherit;
  font-size: 100%;
}
.ta-scroll-window {
  overflow: auto;
}
.ta-scroll-window.form-control {
  position: relative;
  padding: 0;
}
.ta-scroll-window > .ta-bind {
  display: table;
  width: 100%;
  height: 100%;
  padding: 6px 12px;
}
.ta-editor:focus {
  user-select: text;
}
.ta-resizer-handle-overlay {
  z-index: 100;
  position: absolute;
  display: none;
}
.ta-resizer-handle-overlay > .ta-resizer-handle-info {
  position: absolute;
  bottom: 16px;
  right: 16px;
  border: 1px solid #000;
  background-color: #fff;
  padding: 0 4px;
  -webkit-opacity: 0.7;
  -moz-opacity: 0.7;
  -ie-opacity: 0.7;
  -o-opacity: 0.7;
  opacity: 0.7;
}
.ta-resizer-handle-overlay > .ta-resizer-handle-background {
  position: absolute;
  bottom: 5px;
  right: 5px;
  left: 5px;
  top: 5px;
  border: 1px solid #000;
  background-color: rgba(0,0,0,0.2);
}
.ta-resizer-handle-overlay > .ta-resizer-handle-corner {
  width: 10px;
  height: 10px;
  position: absolute;
}
.ta-resizer-handle-overlay > .ta-resizer-handle-corner-tl {
  top: 0;
  left: 0;
  border-left: 1px solid #000;
  border-top: 1px solid #000;
}
.ta-resizer-handle-overlay > .ta-resizer-handle-corner-tr {
  top: 0;
  right: 0;
  border-right: 1px solid #000;
  border-top: 1px solid #000;
}
.ta-resizer-handle-overlay > .ta-resizer-handle-corner-bl {
  bottom: 0;
  left: 0;
  border-left: 1px solid #000;
  border-bottom: 1px solid #000;
}
.ta-resizer-handle-overlay > .ta-resizer-handle-corner-br {
  bottom: 0;
  right: 0;
  border: 1px solid #000;
  cursor: se-resize;
  background-color: #fff;
}
.popover {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1060;
  display: none;
  max-width: 276px;
  padding: 1px;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: left;
  white-space: normal;
  background-color: #fff;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid #ccc;
  border: 1px solid rgba(0,0,0,0.2);
  border-radius: 6px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,0.2);
  -moz-box-shadow: 0 5px 10px rgba(0,0,0,0.2);
  -ie-box-shadow: 0 5px 10px rgba(0,0,0,0.2);
  -o-box-shadow: 0 5px 10px rgba(0,0,0,0.2);
  box-shadow: 0 5px 10px rgba(0,0,0,0.2);
}
.popover.top {
  margin-top: -10px;
}
.popover.bottom {
  margin-top: 10px;
}
.popover .popover-title {
  padding: 8px 14px;
  margin: 0;
  font-size: 14px;
  background-color: #f7f7f7;
  border-bottom: 1px solid #ebebeb;
  border-radius: 5px 5px 0 0;
}
.popover .popover-content {
  padding: 9px 14px;
}
.popover > .arrow {
  border-width: 11px;
}
.popover > .arrow,
.popover > .arrow:after {
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}
.popover > .arrow:after {
  content: "";
  border-width: 10px;
}
.popover.top > .arrow {
  bottom: -11px;
  left: 50%;
  margin-left: -11px;
  border-top-color: #999;
  border-top-color: rgba(0,0,0,0.25);
  border-bottom-width: 0;
}
.popover.top > .arrow:after {
  bottom: 1px;
  margin-left: -10px;
  content: " ";
  border-top-color: #fff;
  border-bottom-width: 0;
}
.popover.bottom > .arrow {
  top: -11px;
  left: 50%;
  margin-left: -11px;
  border-top-width: 0;
  border-bottom-color: #999;
  border-bottom-color: rgba(0,0,0,0.25);
}
.popover.bottom > .arrow:after {
  top: 1px;
  margin-left: -10px;
  content: " ";
  border-top-width: 0;
  border-bottom-color: #fff;
}
.gr-carousel {
  position: relative;
  display: block;
  width: 100%;
  max-width: 100%;
  overflow: hidden;
}
.gr-carousel .gr-carousel-inner {
  position: relative;
  float: left;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  -moz-flex-flow: row wrap;
  -ie-flex-flow: row wrap;
  -o-flex-flow: row wrap;
  flex-flow: row wrap;
  justify-content: space-around;
}
.gr-carousel .gr-carousel-inner .gr-carousel-item {
  position: relative;
  float: left;
  box-sizing: border-box;
}
.gr-carousel .gr-carousel-inner .gr-carousel-item h1 {
  position: absolute;
  bottom: 30px;
  left: 50%;
  color: #fff;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ie-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
}
.gr-carousel-indicator {
  position: absolute;
  display: inline-block;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ie-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  padding: 0;
  margin: 0;
}
.gr-carousel-indicator .gr-carousel-indicator-item {
  position: relative;
  float: left;
  width: 10px;
  height: 10px;
  padding: 0;
  margin: 2px;
  list-style: none;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0 0 1px rgba(0,0,0,0.15);
  cursor: pointer;
}
.gr-carousel-indicator .gr-carousel-indicator-item.active {
  width: 12px;
  height: 12px;
  background-color: #2c61b5;
}
.gr-carousel-indicator .gr-carousel-indicator-item:hover:not(.active) {
  background-color: #ccc;
}
.modal-open {
  min-width: 320px;
  overflow-x: auto;
}
.modal-open .modal {
  min-width: 320px;
}
.modal-open .modal .modal-dialog {
  font-size: 0.875rem;
}
.modal-open .modal .modal-dialog .modal-content {
  border-radius: 0;
}
.modal-open .modal .modal-dialog.modal-xs {
  width: 300px;
  max-width: 300px;
  margin: 30px auto;
}
@media (max-width: 310px) {
  .modal-open .modal .modal-dialog.modal-xs {
    width: auto !important;
    max-width: none;
    margin: 10px;
  }
}
.modal-open .modal .modal-dialog.modal-sm {
  width: 500px;
  max-width: 500px;
  margin: 30px auto;
}
@media (max-width: 520px) {
  .modal-open .modal .modal-dialog.modal-sm {
    width: auto !important;
    max-width: none;
    margin: 10px;
  }
}
.modal-open .modal .modal-dialog.modal-md {
  width: 768px;
  max-width: 768px;
  margin: 30px auto;
}
@media (max-width: 787px) {
  .modal-open .modal .modal-dialog.modal-md {
    width: auto !important;
    max-width: none;
    margin: 10px;
  }
}
.modal-open .modal .modal-dialog.modal-lg {
  width: 900px;
  max-width: 900px;
  margin: 30px auto;
}
@media (max-width: 920px) {
  .modal-open .modal .modal-dialog.modal-lg {
    width: auto !important;
    max-width: none;
    margin: 10px;
  }
}
.modal-open .modal .modal-dialog.modal-responsive {
  width: auto;
  margin: 10px;
}
.modal-open .modal-backdrop {
  min-width: 320px;
}
.pagination-wrapper {
  position: relative;
  display: table;
  width: 100%;
  padding: 7px;
}
.pagination-wrapper .pagination-inner {
  position: relative;
  display: table;
  width: 100%;
  padding: 7px;
  background: #fff;
}
.pagination-wrapper .pagination-inner .pagination {
  position: relative;
  display: table;
  margin: 0 auto;
}
.pagination-wrapper .pagination-inner .pagination li a {
  border: none;
  background: #f0f0f0;
  border-radius: 0 !important;
  color: #337ab7;
  padding: 10px 18px;
  margin: 0 3.5px !important;
}
.pagination-wrapper .pagination-inner .pagination li a:hover,
.pagination-wrapper .pagination-inner .pagination li a:active,
.pagination-wrapper .pagination-inner .pagination li a:focus {
  color: #3074ae;
  background: #e4e4e4;
}
.pagination-wrapper .pagination-inner .pagination li.active a {
  background: #337ab7;
  border-color: #337ab7;
  color: #fff;
}
.pagination-wrapper:before,
.pagination-wrapper:after {
  clear: both;
  content: " ";
  display: table;
}
@media screen and (max-width: 767px) {
  .pagination-wrapper .pagination-inner .pagination li a {
    margin: 0 1px !important;
    padding: 6px 12px;
  }
}
[gr-repeat] {
  display: none;
}
.gr-table-wrapper {
  max-width: 100%;
  overflow-x: auto;
}
.ng-table-pager .pagination {
  margin: 0;
}
.gr-table {
  position: relative;
  width: 100%;
  padding: 15px;
  margin: 0;
}
.gr-table.ng-table,
.gr-table .ng-table {
  min-width: 500px;
  margin: 0;
  padding: 0;
}
.gr-table.ng-table thead,
.gr-table .ng-table thead {
  background: #fff;
}
.gr-table.ng-table thead tr th,
.gr-table .ng-table thead tr th {
  min-width: 55px;
  text-align: center;
  vertical-align: middle;
  -webkit-touch-callout: none;
  -moz-touch-callout: none;
  -ie-touch-callout: none;
  -o-touch-callout: none;
  touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ie-user-select: none;
  -o-user-select: none;
  user-select: none;
}
.gr-table.ng-table thead tr th.sortable,
.gr-table .ng-table thead tr th.sortable {
  cursor: pointer;
}
.gr-table.ng-table thead tr th.sortable div,
.gr-table .ng-table thead tr th.sortable div {
  padding-right: 18px;
  position: relative;
}
.gr-table.ng-table thead tr th.sortable div:after,
.gr-table .ng-table thead tr th.sortable div:after,
.gr-table.ng-table thead tr th.sortable div:before,
.gr-table .ng-table thead tr th.sortable div:before {
  content: "";
  border-width: 0 4px 4px;
  border-style: solid;
  border-color: #000 transparent;
  visibility: visible;
  right: 8px;
  top: 50%;
  position: absolute;
  -webkit-opacity: 0.3;
  -moz-opacity: 0.3;
  -ie-opacity: 0.3;
  -o-opacity: 0.3;
  opacity: 0.3;
  margin-top: -4px;
}
.gr-table.ng-table thead tr th.sortable div:before,
.gr-table .ng-table thead tr th.sortable div:before {
  margin-top: 2px;
  border-bottom: none;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid #000;
}
.gr-table.ng-table thead tr th.sortable div:hover:after,
.gr-table .ng-table thead tr th.sortable div:hover:after,
.gr-table.ng-table thead tr th.sortable div:hover:before,
.gr-table .ng-table thead tr th.sortable div:hover:before {
  -webkit-opacity: 1;
  -moz-opacity: 1;
  -ie-opacity: 1;
  -o-opacity: 1;
  opacity: 1;
  visibility: visible;
}
.gr-table.ng-table thead tr th.sortable.sort-desc,
.gr-table .ng-table thead tr th.sortable.sort-desc,
.gr-table.ng-table thead tr th.sortable.sort-asc,
.gr-table .ng-table thead tr th.sortable.sort-asc {
  background-color: rgba(0,0,0,0.05);
  text-shadow: 0 1px 1px rgba(255,255,255,0.75);
}
.gr-table.ng-table thead tr th.sortable,
.gr-table .ng-table thead tr th.sortable,
.gr-table.ng-table thead tr th.sortable.sort-desc div:after,
.gr-table .ng-table thead tr th.sortable.sort-desc div:after,
.gr-table.ng-table thead tr th.sortable.sort-asc div:after,
.gr-table .ng-table thead tr th.sortable.sort-asc div:after {
  margin-top: -2px;
}
.gr-table.ng-table thead tr th.sortable.sort-desc div:before,
.gr-table .ng-table thead tr th.sortable.sort-desc div:before,
.gr-table.ng-table thead tr th.sortable.sort-asc div:before,
.gr-table .ng-table thead tr th.sortable.sort-asc div:before {
  visibility: hidden;
}
.gr-table.ng-table thead tr th.sortable.sort-asc div:after,
.gr-table .ng-table thead tr th.sortable.sort-asc div:after,
.gr-table.ng-table thead tr th.sortable.sort-asc div:hover:after,
.gr-table .ng-table thead tr th.sortable.sort-asc div:hover:after {
  visibility: visible;
  -webkit-opacity: 0.6;
  -moz-opacity: 0.6;
  -ie-opacity: 0.6;
  -o-opacity: 0.6;
  opacity: 0.6;
}
.gr-table.ng-table thead tr th.sortable.sort-desc div:after,
.gr-table .ng-table thead tr th.sortable.sort-desc div:after {
  border-bottom: none;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid #000;
  visibility: visible;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ie-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
  -webkit-opacity: 0.6;
  -moz-opacity: 0.6;
  -ie-opacity: 0.6;
  -o-opacity: 0.6;
  opacity: 0.6;
}
.gr-table.ng-table thead tr th.filter .input-filter,
.gr-table .ng-table thead tr th.filter .input-filter {
  margin: 0;
  display: block;
  width: 100%;
  min-height: 30px;
  font-weight: normal;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ie-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}
.gr-table.ng-table thead tr + .pagination,
.gr-table .ng-table thead tr + .pagination {
  margin-top: 0;
}
.gr-table.ng-table tbody tr,
.gr-table .ng-table tbody tr {
  position: relative;
}
.gr-table.ng-table tbody tr[class*='bg-'] td,
.gr-table .ng-table tbody tr[class*='bg-'] td {
  background: none;
}
.gr-table.ng-table tbody tr td,
.gr-table .ng-table tbody tr td {
  min-width: 55px;
  vertical-align: middle;
}
.gr-table.ng-table tbody tr td .btn-table,
.gr-table .ng-table tbody tr td .btn-table {
  width: 80%;
}
.gr-table.ng-table tfoot > tr > td,
.gr-table .ng-table tfoot > tr > td {
  padding: 10px;
  background: #f0f0f0;
}
.gr-table.ng-table tfoot > tr > td .ng-table-pager,
.gr-table .ng-table tfoot > tr > td .ng-table-pager {
  position: relative;
  display: table;
  width: 100%;
}
.gr-table.ng-table tfoot > tr > td .ng-table-pager .ng-table-pagination,
.gr-table .ng-table tfoot > tr > td .ng-table-pager .ng-table-pagination {
  position: relative;
  display: table;
  float: none !important;
  margin: 0 auto;
}
.gr-table.ng-table td.col-1,
.gr-table .ng-table td.col-1,
.gr-table.ng-table th.col-1,
.gr-table .ng-table th.col-1 {
  width: 8.333333333333334% !important;
}
.gr-table.ng-table td.col-2,
.gr-table .ng-table td.col-2,
.gr-table.ng-table th.col-2,
.gr-table .ng-table th.col-2 {
  width: 16.666666666666668% !important;
}
.gr-table.ng-table td.col-3,
.gr-table .ng-table td.col-3,
.gr-table.ng-table th.col-3,
.gr-table .ng-table th.col-3 {
  width: 25% !important;
}
.gr-table.ng-table td.col-4,
.gr-table .ng-table td.col-4,
.gr-table.ng-table th.col-4,
.gr-table .ng-table th.col-4 {
  width: 33.333333333333336% !important;
}
.gr-table.ng-table td.col-5,
.gr-table .ng-table td.col-5,
.gr-table.ng-table th.col-5,
.gr-table .ng-table th.col-5 {
  width: 41.66666666666667% !important;
}
.gr-table.ng-table td.col-6,
.gr-table .ng-table td.col-6,
.gr-table.ng-table th.col-6,
.gr-table .ng-table th.col-6 {
  width: 50% !important;
}
.gr-table.ng-table td.col-7,
.gr-table .ng-table td.col-7,
.gr-table.ng-table th.col-7,
.gr-table .ng-table th.col-7 {
  width: 58.333333333333336% !important;
}
.gr-table.ng-table td.col-8,
.gr-table .ng-table td.col-8,
.gr-table.ng-table th.col-8,
.gr-table .ng-table th.col-8 {
  width: 66.66666666666667% !important;
}
.gr-table.ng-table td.col-9,
.gr-table .ng-table td.col-9,
.gr-table.ng-table th.col-9,
.gr-table .ng-table th.col-9 {
  width: 75% !important;
}
.gr-table.ng-table td.col-10,
.gr-table .ng-table td.col-10,
.gr-table.ng-table th.col-10,
.gr-table .ng-table th.col-10 {
  width: 83.33333333333334% !important;
}
.gr-table.ng-table td.col-11,
.gr-table .ng-table td.col-11,
.gr-table.ng-table th.col-11,
.gr-table .ng-table th.col-11 {
  width: 91.66666666666667% !important;
}
.gr-table.ng-table td.col-12,
.gr-table .ng-table td.col-12,
.gr-table.ng-table th.col-12,
.gr-table .ng-table th.col-12 {
  width: 100% !important;
}
.gr-table.ng-table.table-hover > tbody > tr:hover > td,
.gr-table .ng-table.table-hover > tbody > tr:hover > td,
.gr-table.ng-table.table-hover > tbody > tr:hover > th,
.gr-table .ng-table.table-hover > tbody > tr:hover > th {
  background: rgba(0,0,0,0.05);
}
.gr-table.ng-table.table-no-pager tfoot > tr > td,
.gr-table .ng-table.table-no-pager tfoot > tr > td {
  padding: 6px;
}
.gr-table.ng-table.table-no-pager tfoot > tr > td .ng-table-pager,
.gr-table .ng-table.table-no-pager tfoot > tr > td .ng-table-pager {
  display: none !important;
}
body .gr-table-count .btn.btn-default {
  color: #428bca;
  box-shadow: none;
  outline: none;
  border: solid 1px #ddd;
  border-right: none;
}
body .gr-table-count .btn.btn-default:last-child {
  border-right: solid 1px #ddd;
  -webkit-transition: none;
  -moz-transition: none;
  -ie-transition: none;
  -o-transition: none;
  transition: none;
}
body .gr-table-count .btn.btn-default:hover,
body .gr-table-count .btn.btn-default:active,
body .gr-table-count .btn.btn-default:focus {
  color: #2a6496;
  background-color: #eee;
}
body .gr-table-count .btn.btn-default.active {
  background: #428bca;
  border-color: #428bca;
  color: #fff;
  cursor: default;
  z-index: 3;
}
body .gr-table-count .btn.btn-default.active:hover {
  background: #428bca;
  border-color: #428bca;
  color: #fff;
}
body .gr-table-pager {
  display: table;
}
body .gr-table-pager .pagination {
  position: relative;
  display: table;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
body .gr-table-pager .pagination li {
  display: block;
  float: left;
}

/*# sourceMappingURL=../../src/css/gr-ui.css.map */